.hp-box{
    height: 100px;
    overflow: hidden;
    // background: black;
    position:relative;
    overflow: hidden;
    .refresh-icon{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;  
    }
    .loading-icon{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;  
    }
    .hp-wrapper{
       width: 100%;
       position: absolute;
       background: cadetblue;
       z-index: 2;  
    //    background: blue;
        
       li{
           text-align: center;
           height: 40px;/*no*/
       }
    }
}